@tailwind base;
@tailwind components;

/*App Frame CSS*/
.appFrame-top-bar {
    @apply z-50 w-full h-12 sticky top-0 left-0 right-0 items-center px-4 py-1 bg-gray-900 text-gray-200 shadow-lg min-w-[23rem];
}

.appFrame-top-flex-div {
    @apply w-full h-full flex justify-between items-center px-6;
}

.appFrame-btn-add {
    @apply icon-[mdi-light--plus-circle] text-white hover:text-blue-500 text-2xl text-[32px];
}

.appFrame-heading {
    @apply inline-block select-none text-2xl text-white;
}

.appFrame-btn-log-out {
    @apply icon-[mdi-light--account] text-white hover:text-blue-500 text-2xl text-[32px];
}

.appFrame-disconnect-alert-container {
    @apply flex items-center bg-yellow-100 rounded-lg py-5 px-6 mb-3 w-full min-w-[17rem];
}

.appFrame-disconnect-alert-icon {
    @apply icon-[mdi-light--alert] text-yellow-700 text-2xl text-[32px] ml-2;
}

.appFrame-disconnect-alert-text {
    @apply text-base text-yellow-700;
}

.appFrame-modal-log-out {
    @apply fixed hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto;
}

.appFrame-modal-dialog {
    @apply relative w-auto pointer-events-none;
}

/* modal-content */
.appFrame-modal-content {
    @apply modal-content  border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current;
}

/* modal-header */
.appFrame-modal-header {
    @apply modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md;
}

.appFrame-control-name {
    @apply py-0.5 px-0.5 text-base font-bold;
}

.appFrame-modal-img {
    @apply icon-[mdi-light--logout] text-black text-2xl text-[32px] m-2;
}

.appFrame-modal-heading {
    @apply ml-2 text-xl font-medium leading-normal text-gray-800;
}

.appFrame-modal-btn-close {
    @apply icon-[mdi-light--plus] text-black hover:text-red-500 text-2xl text-[32px] rotate-45 m-2;
}

/* modal-body */
.appFrame-modal-body {
    @apply modal-body relative p-4;
}

/* modal-footer */
.appFrame-modal-footer {
    @apply modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md;
}

.appFrame-modal-btn-log-out {
    @apply px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out;
}

.appFrame-login-form {
    @apply flex items-center h-[36rem] w-full select-none min-w-[21rem];
}

.appFrame-login-container {
    @apply w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto;
}

.appFrame-login-alert-container {
    @apply flex justify-between bg-yellow-100 rounded-lg py-5 px-6 mb-3 w-full min-w-[17rem];
}

.appFrame-login-alert-icon {
    @apply icon-[mdi-light--alert] text-yellow-700 text-2xl text-[32px] ml-2;
}

.appFrame-login-alert-text {
    @apply text-base text-yellow-700;
}

.appFrame-label {
    @apply inline-block mb-2 text-gray-700;
}

/* form-control */
.appFrame-input-username {
    @apply form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

/* form-control */
.appFrame-input-password {
    @apply form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.appFrame-login-flex-div {
    @apply flex justify-between items-center mb-6;
}

/* form-check-input */
.appFrame-checkbox {
    @apply form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

/* form-check-label */
.appFrame-label-remember {
    @apply form-check-label inline-block text-gray-800;
}

.appFrame-link-forgot-pass {
    @apply text-blue-600 hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out;
}

.appFrame-btn-sign-in {
    @apply w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
}

.appFrame-controls-div {
    @apply pb-4 pt-2 h-auto w-auto hidden;
}

/*-------------------------*/

/* Router css */
.router-main-card {
    @apply select-none drop-shadow-2xl m-2 w-auto h-auto overflow-hidden bg-white rounded-lg text-black border-solid border border-b-[#DADBDC] min-w-[35rem];
}

.router-summary-container {
    @apply list-none flex items-center cursor-pointer first-letter:focus-visible:outline-none focus-visible:ring focus-visible:ring-pink-500 rounded group-open:rounded-b-none group-open:z-10 relative;
}

.router-top-bar {
    @apply flex justify-between w-full h-10 py-1 min-w-[21rem];
}

.router-top-flex-div {
    @apply w-full flex justify-between;
}

.router-flex-justify-end {
    @apply flex flex-row items-center justify-items-end;
}

.router-flex-justify-start {
    @apply flex flex-row justify-items-start;
}

/* form-check-label */
.router-label {
    @apply form-check-label inline-block text-gray-800 mr-2;
}

/* form-check-input */
.router-toggle {
    @apply form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm;
}

.router-toggle-arrow {
    @apply mb-[0.75rem] border-8 border-transparent border-l-black ml-4 mt-1 group-open:rotate-90 transition-transform origin-left self-center;
}

.router-line {
    @apply w-full h-[0.01rem] bg-[#DADBDC];
}

.router-content {
    @apply flex justify-between w-full h-full;
}

.router-devices-div {
    @apply pb-4 pt-2 w-full min-h-[10rem] min-w-[3rem];
}

.router-btn-settings {
    @apply icon-[mdi-light--settings] text-black hover:text-blue-500 text-2xl text-[32px];

}

.router-settingsContainer {
    @apply bg-[#F8FAFC] border-l-[#DADBDC] border-solid border w-[20rem] h-auto max-w-xs mt-[0.05rem] ease-in-out hidden text-[15px];
}

.router-flex-justify-between {
    @apply flex flex-row justify-between w-full h-auto;
}

.router-btn-exit {
    @apply icon-[mdi-light--plus] text-black hover:text-red-500 text-2xl text-[32px] rotate-45;
}

/* form-control */
.router-text-area {
    @apply form-control block w-full px-3 py-1 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out max-h-40 min-h-[2.4rem] focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.router-btn-add {
    @apply icon-[mdi-light--plus-circle] text-black hover:text-blue-500 text-2xl text-[32px];
}

.router-btn-duplicate {
    @apply icon-[mdi-light--content-duplicate] text-black hover:text-blue-500 text-2xl text-[32px] m-2;
}

.router-label-settings {
    @apply ml-4 w-full h-auto;
}

.router-container {
    @apply ml-4 mb-2 flex justify-start;
}

.router-number-range {
    @apply h-6 text-base font-normal text-gray-700 bg-white border border-solid border-gray-300 rounded transition ease-in-out focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none pl-3 py-1.5 w-full;
}

.router-checkbox {
    @apply mr-2 mt-1 h-4 w-4;
}

.router-btn-delete {
    @apply icon-[mdi-light--delete] text-black hover:text-red-500 text-2xl text-[32px] m-2;
}

.router-btn-reset {
    @apply icon-[mdi-light--refresh] text-black hover:text-red-500 text-2xl text-[32px] m-2;
}

.router-btn-restart {
    @apply icon-[mdi-light--power] text-black hover:text-red-500 text-2xl text-[32px] m-2;
}

.router-btn-help {
    @apply icon-[mdi-light--information] text-black hover:text-blue-500 text-2xl text-[32px] m-2;
}

/* form-select */
.router-select {
    @apply form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

.router-btn-handel {
    @apply icon-[ph--dots-six-vertical-bold] text-black hover:text-blue-500 text-2xl text-[26px] cursor-grabbing p-1;
}

.router-modal {
    @apply fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto;
}

.router-modal-dialog {
    @apply relative w-auto pointer-events-none;
}

/* modal-content */
.router-modal-content {
    @apply modal-content min-w-[30rem] border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current;
}

/* modal-header */
.router-modal-header {
    @apply modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md;
}

.router-modal-img-add {
    @apply icon-[mdi-light--plus-circle] text-blue-500 text-2xl text-[32px] m-2;
}

.router-modal-img-rm {
    @apply icon-[mdi-light--delete] text-red-500 text-2xl text-[32px] m-2;
}

.router-modal-img-reset {
    @apply icon-[mdi-light--refresh] text-red-500 text-2xl text-[32px] m-2;
}

.router-modal-img-restart {
    @apply icon-[mdi-light--power] text-red-500 text-2xl text-[32px] m-2;
}

.router-modal-img-help {
    @apply icon-[mdi-light--information] text-black text-2xl text-[32px] m-2;
}

.router-modal-heading {
    @apply ml-2 text-xl font-medium leading-normal text-gray-800;
}

.router-modal-btn-close {
    @apply icon-[mdi-light--plus] text-black hover:text-red-500 text-2xl text-[32px] rotate-45 m-2;
}

/* modal-body */
.router-modal-body {
    @apply modal-body relative p-4;
}

/* modal-footer */
.router-modal-footer {
    @apply modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md;
}

.router-modal-btn {
    @apply px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out;
}

.router-login-form {
    @apply flex items-center h-[36rem] w-full select-none min-w-[21rem];
}

/*--------------------------*/

/* Audio Device css */
.paAudioBase-main-card {
    @apply z-10 m-1 select-none w-[250px] bg-[#1E293B] rounded-t-xl rounded-b-lg text-white border-solid border border-b-[#75C4EB];
}

.paAudioBase-summary-container {
    @apply list-none flex items-center cursor-pointer first-letter:focus-visible:outline-none focus-visible:ring focus-visible:ring-pink-500 rounded group-open:rounded-b-none group-open:z-10 relative;
}

.paAudioBase-card-heading {
    @apply flex justify-between rounded-t-lg cursor-move items-center pt-1 mb-1 px-4 w-full h-8;
}

.paAudioBase-card-body {
    @apply px-4 py-2 w-auto h-auto;
}

.paAudioBase-btn-mute {
    @apply h-11 w-11 inline-block leading-tight uppercase rounded hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none ml-2 mt-1 focus:ring-0 transition duration-150 ease-in-out;
}

/* form-check-label */
.paAudioBase-label {
    @apply form-check-label text-[15px] tracking-wider inline-block text-white mr-2;
}

/* form-check-input */
.paAudioBase-toggle {
    @apply form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-no-repeat bg-contain bg-red-600 focus:outline-none cursor-pointer shadow-sm;
}

.paAudioBase-btn-settings {                                                                     
    @apply icon-[mdi-light--settings] text-white hover:text-[#6fb2f5] text-base text-[24px]; 
}

.paAudioBase-line {
    @apply w-full h-[0.01rem] bg-[#75C4EB];
}

.paAudioBase-more-info-container {
    @apply w-full h-auto m-4 pr-[2rem] text-[14.75px];
}

.paAudioBase-slider {
    @apply ml-4 mr-4 mt-2 w-4/6 bg-[#293548] text-[#75C4EB];
}

/* form-control */
.paAudioBase-text-area {
    @apply form-control max-h-40 min-h-[2rem] mr-4 block w-full text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 focus:outline-none px-2 py-1;
}

/* form-select */
.paAudioBase-select {
    @apply form-select h-[1.625rem] w-full text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 pl-1.5;
}

.paAudioBase-pos-decimal-input {
    @apply w-full text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 pl-1.5 h-[1.625rem];
}

.paAudioBase-pos-number-input {
    @apply w-full h-6 text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 pl-1.5;
}

.paAudioBase-btn-reload {
    @apply icon-[mdi-light--refresh] text-black hover:text-blue-500 text-2xl text-[32px] m-2;
}

.paAudioBase-btn-duplicate {
    @apply icon-[mdi-light--content-duplicate] text-black hover:text-blue-500 text-2xl text-[32px] m-2;
}

.paAudioBase-btn-delete {
    @apply icon-[mdi-light--delete] text-black hover:text-red-500 text-2xl text-[32px] m-2;
}

.paAudioBase-modal {
    @apply fixed top-0 left-0 hidden w-screen h-full outline-none overflow-x-hidden overflow-y-auto;
}

.paAudioBase-modal-dialog {
    @apply relative w-screen pointer-events-none;
}

/* modal-content */
.paAudioBase-modal-content {
    @apply modal-content min-w-[30rem] max-w-[35rem] border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current mr-6;
}

.paAudioBase-modal-help {
    @apply min-w-[40rem] border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current;
}

/* modal-header */
.paAudioBase-modal-header {
    @apply modal-header items-center justify-between px-4 pt-2 border-b border-gray-200 rounded-t-md;
}

.paAudioBase-modal-heading {
    @apply ml-2 text-xl font-medium leading-normal text-gray-800;
}

.paAudioBase-modal-img-delete {
    @apply icon-[mdi-light--delete] text-red-500 text-2xl text-[32px] m-2;
}

.paAudioBase-modal-btn-close {
    @apply icon-[mdi-light--fullscreen-exit] text-black hover:text-blue-500 text-2xl text-[32px] ml-2 mt-2 mb-2;
}

/* modal-body */
.paAudioBase-modal-body {
    @apply modal-body relative p-4 scroll-smooth overflow-x-hidden overflow-y-auto max-h-[80vh] h-full;
}

/* modal-footer */
.paAudioBase-modal-footer {
    @apply modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md;
}

/* VU METER */

._paAudioBase_volume_slit {
    @apply w-[15/16] h-[16px] border block shadow-[white] rounded-[25px] border-[#75c4eb94] my-1;
    background: linear-gradient(to right,
            hsla(120, 100%, 25%, 0.2) 66.6666%,
            rgba(255, 166, 0, 0.2) 66.6666% 85%,
            rgba(255, 0, 0, 0.2) 85%);
    border-style: inset; 
}

._paAudioBase_volume_slit div {
    @apply w-full h-full;
  }

  /* .container-div {
    @apply bg-[#c3c3c3] w-[200px] h-[1000px] pt-2.5 pb-0 px-2.5;
  }

  .child-div {
    @apply block w-full h-full fixed bg-[black] opacity-30 left-0 top-0;
  }

  .div-box {
    @apply block w-[100px] h-[100px] relative -translate-x-2/4 -translate-y-2/4 bg-[rgb(2,255,15)] left-2/4 top-2/4;
    -webkit-transform: translate(-50%, -50%);
  } */


/*-------------------------*/

/*SRTOpusInput CSS*/
.srtOpusInput-pos-number-input {
    @apply w-full h-6 text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 pl-1.5;
}

/*-------------------------*/

/*-------------------------*/

/*WebRTCClient CSS*/
.WebRTCClient-pos-number-input {
    @apply w-full h-6 text-sm font-normal text-white bg-[#293548] border border-solid border-gray-300 rounded transition ease-in-out focus:bg-[#2B3749] focus:border-blue-600 pl-1.5;
}

/*-------------------------*/

/*Message Modal*/
.message-modal {
    @apply fixed top-0 left-0 w-full h-full outline-none overflow-x-hidden overflow-y-auto;
}

.message-modal-dialog {
    @apply mt-32 transition-opacity duration-300 relative w-auto pointer-events-none z-[1055];
}

/* modal-content */
.message-modal-content {
    @apply modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current;
}

/* modal-header */
.message-modal-header {
    @apply modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md;
}

/* modal-header */
.message-modal-img {
    @apply modal-header inline h-[1.875rem] w-[1.875rem] bg-cover bg-center bg-no-repeat;
}

.message-modal-heading {
    @apply ml-2 text-xl font-medium leading-normal text-gray-800;
}

.message-modal-btn-close {
    @apply icon-[mdi-light--plus] text-black hover:text-red-500 text-2xl text-[32px] rotate-45 m-2;
}

/* modal-body */
.message-modal-body {
    @apply modal-body relative p-4;
}

/* modal-footer */
.message-modal-footer {
    @apply modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md;
}

.message-modal-btn {
    @apply px-6 py-2.5 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out;
}

/*-------------------------*/

/* .modal {
    z-index:9999;
    background-color:#0000004d;
} */

/* .modal {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background-color:white;
    width:80%;
    max-width:500px;
    padding:20px;
    border-radius:5px;
    box-shadow:0 0 10px #333;
    z-index:10000;
} */

/* .modal-backdrop {
    position:relative;
    top:0;
    left:0;
    z-index:9995;
    width:100vw;
    height:100vh;
    background-color:#000000;
} */

/* .modal-body {
    max-height:calc(100vh - 210px);
    overflow-y:auto;
} */

/* .modal-container {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:9999;
} */




/* . {
    @apply ;
} */

@tailwind utilities;

