@tailwind base;
@tailwind components;

/* Index */

.index_body {
    @apply h-full m-0 p-0 overflow-hidden select-none font-sans bg-[#1e293b];
}

/* AppFrame */

.appFrame_header {
    @apply h-[50px] absolute top-0 left-0 right-0 bg-[#0f172a] border-[#6B7280] border-b-[outset] border-b flex items-center pl-4 pr-4;
}

.appFrame_header_text {
    @apply text-white font-sans text-xl mr-auto;
}

.appFrame_control_text {
    @apply text-white font-sans text-xs;
}

.appFrame_control_container {
    @apply flex items-center h-full ml-[5px] mr-[5px];
}

.appFrame_control {
    @apply block h-4 w-[50px] bg-[#224b12] rounded-[10px] border-[inset] border border-[#8a8a8a] transition-all ease-in-out;
}

.appFrame_control_slider {
    @apply h-[14px] w-[14px] bg-[#c0c0c0] [border-style:outset] border border-[#dcdcdc] rounded-[10px] transition-all ease-in-out;
}

.appFrame_contents {
    @apply absolute top-[51px] bottom-0 inset-x-0 text-left flex overflow-x-auto;
}

/* paAudioBase */

.paAudioBase_background {
    @apply bg-[#334155] block text-center h-full min-h-[80px] [border-right-style:outset] [border-left-style:outset] border-[#6b7280] border-x;
}

.paAudioBase_background table {
    @apply w-full h-full border-collapse text-center;
}

.paAudioBase_label {
    @apply h-8 text-white p-3;
}

.paAudioBase_label div {
    @apply border-[#6b7280] [border-style:inset] border-2 rounded-[10px] flex items-center whitespace-normal max-w-[300px] break-all truncate;
}

.paAudioBase_label span {
    @apply w-full py-[2px] px-1;
}

.paAudioBase_volume {
    @apply text-center relative flex justify-center h-full p-2;
}




/* ._paAudioBase_volume_slit {
    @apply h-full w-4 border block shadow-[white] mx-auto my-1 rounded-[25px] border-[rgba(117,196,235,0.58)];
    background: linear-gradient(
      to top,
      hsla(120, 100%, 25%, 0.2) 66.6666%,
      rgba(255, 166, 0, 0.2) 66.6666% 85%,
      rgba(255, 0, 0, 0.2) 85%
    );
  }  */

 .paAudioBase_volume_slit {
    @apply h-full min-h-[92px] w-[15px] border block shadow-[white] rounded-[10px] border-white [border-style:inset];
    background: linear-gradient(to top,
            hsla(120, 100%, 25%, 0.2) 66.6666%,
            rgba(255, 166, 0, 0.2) 66.6666% 85%,
            rgba(255, 0, 0, 0.2) 85%);
     margin: 0 auto;
}

.paAudioBase_volume_slider {
    @apply absolute top-[200px] left-0 right-0 ml-auto mr-auto w-[50px] h-[50px] bg-[#a1a1aa] rounded-[30px] z-10 m-auto [border-style:outset] border-2 border-[#dcdcdc];
}

.paAudioBase_volume_slit div {
    @apply h-full w-full;
}

.paAudioBase_control_button{
    @apply h-[71px] p-4;
}

.paAudioBase_control_button div {
    @apply h-full min-h-[40px] min-w-[40px] flex items-center bg-[#224b12] text-black rounded-[10px] border-[#069a2e] border-2 [border-style:outset];
}

.paAudioBase_control_button span {
    @apply w-full;
}

/* Separator */

.separator_background {
    @apply bg-[#1e293b] block text-start h-full min-h-[80px] [border-right-style:outset] [border-left-style:outset] border-[#6b7280] border-x;
}

.separator_background table {
    @apply  h-full text-center;
}

.separator_label {
    @apply flex items-start justify-start h-full w-full text-white p-3;
}

.separator_label div {
    @apply  flex items-start justify-start w-full h-full whitespace-normal break-all truncate;
}

.separator_label span {
    @apply w-full py-[2px] px-1 [writing-mode:vertical-lr];
}



/* . {
    @apply ;
} */

@tailwind utilities;