.uiExpander {
   background-color: RGB(153, 153, 153);
   padding: 0px; 
}

.uiExpander_topbar{
    color: white;
    font-family: sans-serif; 
    background-color: #666666;
    padding: 10px; 
    border: 1px solid white;
    width: 99.2%; 
    padding-right: 0px; 
}

.uiExpander_control{
    float: right;
    margin-top: -49px;
    padding-right: 20px;
}

.uiExpander.dragging {
    opacity: 0.01;
}