.uiBar{
    float: right;
    width: 100px;
    height: 300px;
    z-index: 1;   
    margin-top: -22.6%;
    background-color:grey; 
    padding-top: 20px;
}
.uiBar ul li img{
        margin-left: 8px;
}

.uiBar ul {
    margin-left: -40px;
}

.uiBar ul li{
    height: 70px;  
    list-style: none;
    width: 85px;  
    margin-bottom: 10px;  
}

.uiBar ul li:hover {
    height: 70px;
    background-color:  #efefef;
    width: 85px;
    margin-bottom: 10px;
    padding-left: -40px; 
}