.draggable { 
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin: 27px;
    padding: 5px;
    width: 97%;
    background-color: #efefef;
    
} 

.draggable.dragging {
    opacity: 0.3;
  }

  .drag {
    cursor: move;
  }