.uiDraggable {  
  margin: 7px;
  padding: 5px;
  width: 96%;
  background-color: RGB(178, 178, 178);
  border: 1px solid #999999;
  border-radius: 9px;
} 

.uiDraggable.dragging {
  opacity: 0.01;
}

.uiDraggable_drag {
  cursor: move;
}

.uiDraggable_control {
  display: -webkit-box;
}

.uiDraggable_sect1{
  width: 33%;
}

.uiDraggable_sect2{
  width: 33%;
}

.uiDraggable_sect3{
  width: 33%;
}