.uiExpander {
   background-color: RGB(153, 153, 153);
   padding: 0px; 
}

.uiExpander_topbar{
    color: white;
    font-family: sans-serif;
    display: flex; 
    background-color: #666666;
    padding: 10px; 
    border: 1px solid white;
    width: 99.2%; 
    padding-right: 0px; 
}

 

.uiExpander.dragging {
    opacity: 0.01;
}