.title{
    color: white;
    margin-top: 12px;
}

.uiExpander_topbar{
    display: flex;
    margin: 10px;
    background-color: grey;
    padding: 10px;
    border-radius: 12px;
}

.uiExpander_topbar p {
    width: 40%;
}

.uiExpander.dragging {
    opacity: 0.9;
}