.uiTabController{
    display: flex;
    width: 100%;
}

.uiTabController_controls{
    width: 100%;
}

.uiTabController_buttons{
    float: right;
    width: 100px;
    height: 300px;
    z-index: 1;    
    background-color:grey; 
    padding-top: 20px;
}
.uiTabController_buttons ul li img{
        margin-left: 8px;
}

.uiTabController_buttons ul {
    margin-left: -40px;
}

.uiTabController_buttons ul li{
    height: 70px;  
    list-style: none;
    width: 85px;  
    margin-bottom: 10px;  
}

.uiTabController_buttons ul li:hover {
    height: 70px;
    background-color:  #efefef;
    width: 85px;
    margin-bottom: 10px;
    padding-left: -40px; 
}

