.uiTabButton {
    list-style: none;  
}

.uiTabButton:hover {
    list-style: none; 
    background-color: #999999;
}

.uiTabButton-selected {
    height: 70px;
    background-color:  RGB(239, 239, 239);
    width: 85px;
    margin-bottom: 10px;
    padding-left: -40px; 
    border-radius: 0px 10px 10px 0px;
}

.uiTabButton-deselected {
    height: 70px;
    background-color:  "grey"; 
}