.uiTabController{
    display: flex;
    width: 100%;
}

.uiTabController_controls{
    width: 100%;
}

.uiTabController_buttons{
    float: right;
    width: 96px;
    height: 300px px ;
    z-index: 1;
    background-color: #666666;
    padding-top: 10px;
    margin-top: 0px; 

}
.uiTabController_buttons ul li img{
        margin-left: 8px;
}

.uiTabController_buttons ul {
    margin-left: -40px;
}

.uiTabController_buttons ul li{
    height: 70px;  
    list-style: none;
    width: 85px;  
    margin-bottom: 10px;  
    border-radius: 0px 10px 10px 0px;
}

.uiTabController_buttons ul li:hover {
    height: 70px;
    background-color:  RGB(153, 153, 153);
    width: 85px;
    margin-bottom: 10px;
    padding-left: -40px; 
    border-radius: 0px 10px 10px 0px;
}
 



